.panel-body input[type="checkbox"]:checked+label {
    text-decoration: none !important;
}

.panel-body input[type="checkbox"]+label {
    text-decoration: line-through !important;
}

span.dotted-underline {
    border-bottom: 1px dotted;
    cursor: pointer;
}